@import "@picocss/pico";

:root {
  --user-bubble-color: #fed;
  --assistant-bubble-color: #b8b8ff;
  --stream-bubble-color: #f8f7ff;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 2rem;
  width: min(50ch, 100% - 4rem);
  height: calc(100dvh - 4rem);
  margin: 2rem auto;
}

main,
footer {
  --pico-block-spacing-vertical: 0;
}

main {
  overflow: auto;
}

.chat-history {
  --pico-typography-spacing-vertical: 0;

  display: grid;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    display: inline;
    padding: 1rem 1.25rem;
    color: #223;
    border-radius: 1rem;

    &.stream {
      justify-self: start;
      background-color: var(--stream-bubble-color);

      &:empty {
        display: none;
      }
    }

    &.user {
      justify-self: end;
      background-color: var(--user-bubble-color);
    }

    &.assistant {
      justify-self: start;
      background-color: var(--assistant-bubble-color);
    }
  }
}
